<div><h2>About</h2></div>

<div>
    1. CommonR<br>
    2. Contrib: ..<br>
    2. Copyright & License.<br>
</div>
<div>

    All images assets and other media used under <a href="http://creativecommons.org/licenses/by/4.0/legalcode">Creative Commons Attribution 4.0<br/>International Public</a> License, and is under copyright of it's original creators:<br/>

    <table class="creators">
        <tr>
            <td><a href="https://www.iconfinder.com/Zerg">Sergei Kokota</a></td>
            <td><a href="https://www.iconfinder.com/Zerg">Sergei Kokota</a></td>
        </tr>
        <tr>
            <td><a href="https://www.iconfinder.com/Zerg">Sergei Kokota</a></td>
            <td><a href="https://www.iconfinder.com/Zerg">Sergei Kokota</a></td>
        </tr>
    </table>


</div>


