<div><h2>About</h2></div>

<div>
    1. Nitai J. Perez (CommonRaven)<br>
    2. Contrib: ..<br>
    2. Copyright & License.<br>
</div>
<div>

    All images assets and other media used under <a href="http://creativecommons.org/licenses/by/4.0/legalcode">Creative
    Commons Attribution 4.0<br/>International Public</a> License, and is under copyright of it's original creators:<br/>

    <table class="creators">
        <tr>
            <td><a href="">Nick Roach</a></td>
            <td><a href="">Github</a></td>
            <td><a href="">Anshul Dhiman</a></td>

            <td><a href="">Denis Mikhutin</a></td>
        </tr>
        <tr>
            <td><a href="">Istiko Rahadi</a></td>
            <td><a href="">Pixel Buddha</a></td>

            <td><a href="">Alina Agafitei</a></td>
            <td><a href="">Designerz Base</a></td>
        </tr>
        <tr>
            <td><a href="">Sergei Kokota</a></td>

            <td><a href="">Freepik</a></td>
            <td><a href="">Erik Ragnar Eliasson</a></td>
        </tr>
    </table>


</div>


