<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/browser_action.css">

    <script src="../lib/ga.min.js"></script>
    <script src="../lib/md5.min.js"></script>
    <script src="../lib/lodash.min.js"></script>
    <script src="../lib/moment.min.js"></script>
    <script src="../lib/crosstab.min.js"></script>

    <script src="../lib/angular.min.js"></script>
    <script src="../lib/img-fallback.min.js"></script>

    <script src="../controllers/browser-action.ctrl.js"></script>
    <script src="../controllers/options.ctrl.js"></script>

    <script src="../services/localstorage.service.js"></script>
    <script src="../services/ga.service.js"></script>
    <script src="../services/util.service.js"></script>

    <meta charset="UTF-8">
    <title>Stash Notifier</title>
</head>

<body id="body" ng-app="prApp" ng-controller="prCtrl">
<div id="fullMode" class="floater" ng-if="!fullscreen" ng-click="showTasks()" title="Show on full screen"></div>
<div class="container" ng-class="{stretch: fullscreen}">

    <table class="stickCells">
        <tr ng-if="prData.length">
            <td colspan="7" class="title"> Pending Review ({{prData.length}})
            </td>
        </tr>
        <tr ng-repeat-start="pr in prData">
            <td><a target="_blank"
                   href="{{pr.fromRef.repository.links.self[0].href.replace('browse', 'pull-requests')}}">{{pr.fromRef.repository.name}}</a>
            </td>
            <td><a target="_blank" href="{{pr.links.self[0].href}}">{{pr.title.indexOf('/')== -1 ?
                util.toTitleCase(pr.title) : pr.title}}</a></td>
            <td class="tooltip">
                <img class="avatar"
                     ng-src="{{util.getAvatar(pr.author.user)}}"
                     ng-style='{"background-color": "#"+util.seedColor(pr.author.user.emailAddress)}'
                     style="z-index:500"
                     fallback-src="../assets/qm.svg">
                <span class="tooltiptext">{{pr.author.user.displayName}}</span>
            </td>
            <td class="alignRight">
                <div class="reviewers">
                    <div class="badgewrap tooltip" ng-repeat="r in pr.reviewers">
                        <img class="avatar"
                             ng-class='{"fade": r.approved || (r.status == "NEEDS_WORK")}'
                             ng-src="{{util.getAvatar(r.user)}}"
                             ng-style='{"background-color": "#"+util.seedColor(r.user.emailAddress)}'
                             fallback-src="../assets/qm.svg">
                        <span class="tooltiptext" style="right: 29px; top: -2px;">{{r.user.displayName}}</span>
                        <span class="badge approved" ng-if="r.approved"></span>
                        <span class="badge declined" ng-if="r.status == 'NEEDS_WORK'"></span>
                    </div>

                </div>

            </td>
            <td class="center" colspan="2">{{util.timeAgo(pr.updatedDate)}}</td>
        </tr>
        <tr ng-repeat-end>


            <td colspan="4">
                <div class="refs">
                    <span class="branch">{{pr.fromRef.displayId}}</span>
<span>
                    <img class="into" src="../assets/right_arrow.svg">
            <span class="branch dest"
                  ng-class='{"caution": pr.mergeStatus.conflicted}'>{{pr.toRef.displayId}}</span></span>
                </div>
            </td>
            <td>
                <div class="status">
                    <span>{{pr.properties.commentCount || '0'}}</span>
                    <img class="comments" src="../assets/chat.svg" title="{{util.commentTooltip(pr)}}"></div>
            </td>
            <td>
                <div class="status tooltip">
                    <span>{{pr.mergeStatus.vetoes.length}}</span>
                    <img class="comments"
                         ng-src="{{pr.mergeStatus.vetoes.length ? '../assets/block2.svg' : '../assets/check.svg'}}">
                    <span class="tooltiptext">{{util.vetoTooltip(pr)}}</span>
                </div>
            </td>
        </tr>

        <tr ng-if="prDataMine.length">
            <td colspan="7" class="title"> My Pull Requests ({{prDataMine.length}})
            </td>
        </tr>
        <tr ng-repeat-start="pr in prDataMine">
            <td><a target="_blank"
                   href="{{pr.fromRef.repository.links.self[0].href}}">{{pr.fromRef.repository.name}}</a></td>
            <td><a target="_blank" href="{{pr.links.self[0].href}}">{{util.toTitleCase(pr.title)}}</a></td>
            <td>
                <img class="avatar"
                     ng-src="{{util.getAvatar(pr.author.user)}}"
                     ng-style='{"background-color": "#"+util.seedColor(pr.author.user.emailAddress)}'
                     fallback-src="../assets/qm.svg"
                     title="{{pr.author.user.displayName}}">
            </td>
            <td class="alignRight">
                <div class="reviewers">
                    <div class="badgewrap" ng-repeat="r in pr.reviewers">
                        <img class="avatar"
                             ng-class='{"fade": r.approved || (r.status == "NEEDS_WORK")}'
                             ng-src="{{util.getAvatar(r.user)}}"
                             ng-style='{"background-color": "#"+util.seedColor(r.user.emailAddress)}'
                             fallback-src="../assets/qm.svg"
                             title="{{r.user.displayName}}">
                        <span class="badge approved" ng-if="r.approved"></span>
                        <span class="badge declined" ng-if="r.status == 'NEEDS_WORK'"></span>
                    </div>

                </div>

            </td>
            <td class="center" colspan="2">{{util.timeAgo(pr.updatedDate)}}</td>
        </tr>
        <tr ng-repeat-end>


            <td colspan="4">
                <div class="refs">
                    <span class="branch">{{pr.fromRef.displayId}}</span>
<span>
                    <img class="into" src="../assets/right_arrow.svg">
            <span class="branch dest"
                  ng-class='{"caution": pr.mergeStatus.conflicted}'>{{pr.toRef.displayId}}</span></span>
                </div>
            </td>
            <td>
                <div class="status">
                    <span>{{pr.properties.commentCount || '0'}}</span>
                    <img class="comments" src="../assets/chat.svg" title="{{util.commentTooltip(pr)}}"></div>
            </td>
            <td>
                <div class="status">
                    <span>{{pr.mergeStatus.vetoes.length}}</span>
                    <img class="comments"
                         ng-src="{{pr.mergeStatus.vetoes.length ? '../assets/block2.svg' : '../assets/check.svg'}}"
                         title="{{util.vetoTooltip(pr)}}">
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="zero" ng-if="prData.length + prDataMine.length == 0">
    <img class="inboxZeroIcon" ng-src="{{inboxZeroIcon}}">
    <h2>Inbox Zero!</h2>
</div>

<div class="footer" ng-class='{loader: ls.get("loading"), error: ls.get("error"), stretch: fullscreen}'>
    <a href="{{ls.get('config').stashURL}}" target="_blank">
        <button ng-click="">Go to Stash</button>
    </a>
    <button ng-click="bgFetch()">Refresh</button>
    <button ng-click="">Snooze All</button>
    <button ng-click="showOptions = !showOptions">Options</button>
    <button ng-click="showAbout = !showAbout">About</button>
</div>

<div class="options" ng-if="showOptions" ng-include="'./options.html'"></div>
<div class="about" ng-if="showAbout" ng-include="'./about.html'"></div>

<iframe style="display:none;" name="stree"></iframe>
</body>

