<div ng-controller="settings">
    <h2>Settings</h2>
    <div class="optionsTable" ng-repeat="(title, options) in ops">
        <div class="title">{{title}}</div>

        <div ng-repeat="o in options | filter:validateInput">

            <div>
                <div ng-if="o.type != 'checkbox'" ng-class="{description: o.type === 'description'}">
                    <label for="{{o.id}}">{{o.text}}{{o.type != 'description' ? ':' : ''}}</label>
                </div>

                <input id="{{o.id}}"
                       type="text"
                       ng-if="o.type == 'textbox'"
                       ng-model="ls.sgConfig(o.id)"
                       ng-model-options="{getterSetter: true}"
                       placeholder="{{o.placeholder || ''}}">

                <input id="{{o.id}}"
                       type="checkbox"
                       ng-if="o.type == 'checkbox'"
                       ng-model="ls.sgConfig(o.id)"
                       ng-model-options="{getterSetter: true}"
                       ng-click="updateView()">
                <label ng-if="o.type == 'checkbox'" for="{{o.id}}">{{o.text}}</label>

                <select id="{{o.id}}"
                        ng-if="o.type == 'select'"
                        ng-model="ls.sgConfig(o.id)"
                        ng-model-options="{getterSetter: true}">
                    <option ng-repeat="op in o.options" value="{{op.val}}">{{op.text}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

